@font-face {
  font-family: 'Gotham Book';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Book'), url('./Fonts/Gotham/GothamBook.woff2') format('woff2'),
      local('Gotham Book'), url('./Fonts/Gotham/GothamBook.woff') format('woff'),
      local('Gotham Book'), url('./Fonts/Gotham/GothamBook.ttf') format('truetype');    
}
    
    
@font-face {
  font-family: 'Gotham Book Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Book Italic'), url('./Fonts/Gotham/GothamBookItalic.woff2') format('woff2'),
      local('Gotham Book Italic'), url('./Fonts/Gotham/GothamBookItalic.woff') format('woff'),
      local('Gotham Book Italic'), url('./Fonts/Gotham/GothamBookItalic.ttf') format('truetype');
}


@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Bold'), url('./Fonts/Gotham/GothamBold.woff2') format('woff2'),
      local('Gotham Bold'), url('./Fonts/Gotham/GothamBold.woff') format('woff'),
      local('Gotham Bold'), url('./Fonts/Gotham/GothamBold.ttf') format('truetype');
}

@media (max-width: 800px) {
  .file{
    display: none;
  }
}

body {
  margin: 0;
}

#ticket_form {
  width: 100vw;
  height: 100vh;
  display:flex;
}

.legend {
  color: #d75229;
  font-size: 20px;
  font-family: 'Gotham Bold';
  font-weight: 'bold';
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: start;
}

.email, 
.subject {
  grid-column: 1 / 2;
  padding: 0.5em;
}

.desc,
.file {
  grid-column: 1 /  span 2;
  padding: 0.5em;

}

.img {
  grid-column-start: 2;
  grid-row: 1 / span 2;
  justify-self: center;
  align-self: center;
}

fieldset {
  padding: 0.5em;
  margin: 0.5em;
}

div {
  display: grid;
}

p, a {
  font-family: 'Gotham Book';
  font-weight: 100;
  color: #d75229;
  text-align:center;
}

textarea {
  vertical-align: top;
  border-color: lightgray;
  resize: none;
  -webkit-appearance: none;
  border-radius: 0;
  font-size: 16px;
  font-family: 'Gotham Book'
}

#warning {
  color: red;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  margin-top: 0.75em;
}

label {
  font-size: 16px;
  padding: 0.25em;
  font-family: 'Gotham Book'
}

input {
  -webkit-appearance: none;
  border-radius: 0;
  font-family: 'Gotham Book'
}

input[type=submit] {
  background: #d75229;
  color: #fff;
  border: 2px solid #d75229;
  text-align: center;
  font-size: 16px;
  padding: 9px 14px;
  text-transform: uppercase;
  font-style: normal;
  font-family: "Gotham Bold";
  font-weight: bold;
  margin-bottom: 0.25em;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #777;
  font-size: 12px;
  vertical-align:center;
  font-family: 'Gotham Book Italic'
}
::-moz-placeholder {
  color: #777;
  font-size: 12px;
  vertical-align:center;
  font-family: 'Gotham Book Italic'
}
:-ms-input-placeholder {
  color: #777;
  font-size: 12px;
  vertical-align:center;
  font-family: 'Gotham Book Italic'
}
::placeholder {
  color: #777;
  font-size: 12px;
  vertical-align:center;
  font-family: 'Gotham Book Italic'
}